{% extends "shop/base.html" %}
{% block content %}

<div style="text-align:center; padding:60px;">
    <h1 style="color:green; font-size:40px;">✔ Logged Out Successfully</h1>
    <p style="font-size:18px; margin-top:10px;">
        You have been logged out of your account.
    </p>

    <a href="{% url 'login' %}" 
       style="background:#3b82f6; color:#fff; padding:10px 20px; 
              display:inline-block; margin-top:25px; text-decoration:none; 
              border-radius:8px; font-size:18px;">
        Login Again
    </a>

    <br><br>

    <a href="{% url 'shop:index' %}" 
       style="font-size:17px; text-decoration:underline; color:#555;">
        Return to Home
    </a>
</div>

{% endblock %}
